@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.red{
  color: red;
}
.bold{
  font-weight: bold;
}
/* 
tr td{
  border: 1px solid black;
  margin: 5px;
}

th{
  border: 1px solid black;
  margin: 5px;
} */